@import "settings";
@import "foundation.scss";

body {
  background-color: #e1d0c6;
}

.main-content {
  @include grid-row;

  aside  {
    @include grid-column($columns:6);
    // @media #{$medium-up} {
    //   @include grid-column($columns:3);
    // }
  }

  article  {
    @include grid-column($columns:6);
    // @media #{$medium-up} {
    //   @include grid-column($columns:8, $offset: 1);
    // }
  }

}

iframe.map {
  border: 1px solid #ddd;
  width: 100%;
  height: 400px;
}

$green-light: #8e914c;
$green-dark: #414e34;

$orange-light: #894823;
$orange-dark: #e08238;

$blue-light: #8ca2b9;
$blue-dark: #3c435f;

$white-light: #ddd;
$white-dark: #fff;

$red-light: #d46973;
$red-dark: #c93f1a;

$brown-light: #904d32;
$brown-dark: #281710;

$yellow-light: #eac539;
$yellow-dark: #cd951c;

// Override for menu background colors
.top-bar-section li:not(.has-form) a:not(.button) {
  background: inherit;
}

body.submit {
  background-color: $yellow-light;
}
.top-bar-section li.submit {
  background-color: $yellow-dark;
}

body.register {
  background-color: $green-light;
}
.top-bar-section li.register {
  background-color: $green-dark;
}

body.program {
  background-color: $orange-light;
}
.top-bar-section li.program {
  background-color: $orange-dark;
}


body.access {
  background-color: $brown-light;
}
.top-bar-section li.access {
  background-color: $brown-dark;
}

body.contact {
  background-color: $blue-light;
}
.top-bar-section li.contact {
  background-color: $blue-dark;
}

body.about {
  background-color: $red-light;
}
.top-bar-section li.about {
  background-color: $red-dark;
}
