<% content_for(:title) { "Registration" } %>
<% content_for :page_scripts do %>
<script>
jQuery(function($) {
  function updateTotal() {
    $("#total").text($('#dinner').val());
  }

  $("#dinner").change(updateTotal);
  updateTotal();
});
</script>
<% end %>

<% if Rails.env.development? %>
<div class="row">
  <div class="large-12 columns">
    <form class="panel">
      <div class="row">
        <div class="large-4 columns">
          <label>
            Academic title
            <input name="academic_title" type="text" placeholder="" />
          </label>
        </div>
        <div class="large-4 columns">
          <label>
            Firsts name
            <input name="first_name" type="text" placeholder="">
          </label>
        </div>
        <div class="large-4 columns">
          <label>
            Surname
            <input id="surname" name="surname" type="text" placeholder="">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <label>
            Email
            <input id="email" name="email" type="email" placeholder="@">
          </label>
        </div>
        <div class="large-4 columns left">
          <label>
            Affiliated University
            <input id="university" name="university" type="text">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <label>
            Will you be joining us for the conference dinner?
            <select id="dinner" name="dinner">
              <option value="0.-">Yes - speaker - Free</option>
              <option value="20.-">Yes - non-speaker - 20.- GBP</option>
              <option value="0.-">No</option>
            </select>
          </label>
        </div>

        <div class="large-4 columns"></div>

        <div class="large-4 columns"></div>

      </div>
      <div class="row">
        <div class="large-4 columns">
          <h4>Total: <span id="total">0</span> GBP</h4>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <button type="submit" class="small radius button">Submit</button>
        </div>
      <div>
    </form>
  </div>
</div>
<% else %>
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1>Coming soon</h1>
    </div>
  </div>
</div>
<% end %>
