<div class="row">
  <div class="large-5 columns">
    <h1><%= site_name %></h1>

    <h3>The University of Sussex<br> <%= site_date %></h3>
    <br>
    <p>
The History Department at the University of Sussex is pleased to announce a
conference on the history of food and nutrition in Europe since about 1800. We
welcome proposals from researchers from a range of academic disciplines who
offer an historical perspective on the topic.
    </p>
    <p>
This conference is open to early career and established academics in any
relevant discipline. The conference will be organised on workshop principles
in one venue.
    </p>
  </div>
  <div class="large-7 columns">
    <br>
    <%= image_tag "menu2.png", class: "piechart" %>
    <br>
    <br>

    <sub class="right">source: <a href="https://commons.wikimedia.org/wiki/File:USDA_-_Basic_7_Food_Groups.jpg" target="_blank">1943 USDA nutrition chart showing the "Basic 7" food groups.</a></sub>
  </div>
</div>
