<% content_for(:title) { "Organization" } %>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1>Organizers</h1>

      <ul>
        <li><a href="http://www.sussex.ac.uk/profiles/985" target="_blank">
          Prof. Ian Gazeley.
        </a></li>

        <li><a href="http://www.sussex.ac.uk/profiles/243256" target="_blank">
          Dr. Rose Holmes
        </a></li>

        <li><a href="http://www.sussex.ac.uk/profiles/274717" target="_blank">
          Natacha Chevalier
        </a></li>
      </ul>
    </div>
  </div>
</div>
