<% content_for(:title) { "Contact us" } %>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>How to get ahold of us</h3>

      <p>
        To send us an email address
        <a href="mailto:<%= hide_email(site_email).html_safe %>">click here</a>
      </p>
    </div>
  </div>
</div>
