// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #000;
  // Origin: http://www.transparenttextures.com/patterns/soft-wallpaper.png
  background-image: url("soft-wallpaper.png");
  color: #fff;

  h1, h2, h3 {
    color: inherit;
  }
}
