<% content_for(:title) { "Programme" } %>

<% if Rails.env.development? %>
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <p>This is a single track program.</p>
      <div class="row">
        <div class="large-6 medium-6 columns">
          <h3>Thursday 12 May</h3>
          <dl class="panel callout">
            <dt>1pm
            <dd>Welcome - Tea and Coffee
            <dt>2pm
            <dd>Food &amp; nutrition - presented by Lorem Ipsum
            <dt>3pm
            <dd>Food &amp; nutrition - presented by Lorem Ipsum
            <dt>5pm
          </dl>
        </div>
        <div class="large-6 medium-6 columns">
          <h3>Friday 13 May</h3>
          <dl class="panel callout">
            <dt>10am
            <dd>Food &amp; nutrition - presented by Lorem Ipsum
            <dt>11am
            <dd>Food &amp; nutrition - presented by Lorem Ipsum
            <hr>
            <dt>1pm
            <dd>Food &amp; nutrition - presented by Lorem Ipsum
            <dt>2pm
            <dd>Food &amp; nutrition - presented by Lorem Ipsum
            <dt>3pm
            <dd>Food &amp; nutrition - presented by Lorem Ipsum
            <dt>5pm
            <dd>Collation and drinks
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
<% else %>
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1>Coming soon</h1>
    </div>
  </div>
</div>
<% end %>
