---
title: "About the conference"
---
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <p>All you need to know about the conference</p>
      <blockquote>
        This is going to be great
        <cite>Natacha Chevalier</cite>
      </blockquote>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>Organizers</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>Partners</h3>
    </div>
  </div>
</div>
