---
title: "All you need to know for your visit"
---
<% content_for :page_styles do %>
  <%= stylesheet_link_tag "foundation-icons" %>
<% end %>

<div class="row">
  <div class="large-6 columns">
    <div class="panel">
      <h3>Address</h3>
      <ul class="vcard">
        <li class="fn">University of Sussex</li>
        <li class="street-address">Sussex House</li>
        <li class="locality">Brighton</li>
        <li><span class="state">West-Sussex</span>, <span class="zip">BN1 9RH</span></li>
        <li class="email"><a href="#">g.baltar@example.com<script cf-hash="f9e31" type="text/javascript">
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("cf-hash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}}}catch(u){}}();/* ]]> */</script></a></li>
      </ul>
      <h3>Conference room</h3>
      <p>36b - near the cafeteria<p>
    </div>
    <div class="panel hide-for-print">
      <a href="javascript:window.print()" class="small radius button">
        <i class="step fi-print size-24"></i>
        Print this page
      </a>
    </div>
  </div>
  <div class="large-6 columns">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10072.239774124142!2d-0.087914!3d50.86709!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487588ca9b7c1b1b%3A0x7b4ba124cd6ad273!2sUniversity+of+Sussex!5e0!3m2!1sen!2suk!4v1428257145786" class="map" title="Map"></iframe>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>Transportation</h3>
      <p>How to reach the conference</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>Places to stay</h3>
      <p>Where to stay during the visit<p>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>Places to visit</h3>
      <p>Interesting places to visit<p>
    </div>
  </div>
</div>
