---
title: "Access to the venue"
---

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>We&rsquo;re stoked you want to come</h3>
      <pre>
University of Sussex
Sussex House
Brighton
BN1 9RH
United Kingdom
      </pre>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10072.239774124142!2d-0.087914!3d50.86709!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487588ca9b7c1b1b%3A0x7b4ba124cd6ad273!2sUniversity+of+Sussex!5e0!3m2!1sen!2suk!4v1428257145786" width="800" height="600" frameborder="0" style="border:0"></iframe>
    </div>
  </div>
</div>
