---
title: "Welcome"
layout: main
---

<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Noto+Serif:700:latin'>
<style>

.section{
  font-family: 'Noto Serif';
  font-size: 38px;
  font-weight: 700;
  font-style: normal;
  line-height: 0.65;
  white-space: pre;
  border: 3px solid;
  color: #ddd;
  overflow: visible;
}

h1, h2 {
  color: #fff;
}

.overlap {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  top: 3em;
}

svg {

}
</style>

<div class="row">
  <div class="large-12 columns">
    <div class="overlap">
      <h1>Food and Nutrition: an historical perspective</h1>
      <h2>Sussex University - January 2016</h2>
    </div>
    <!-- source: https://commons.wikimedia.org/wiki/File:USDA_-_Basic_7_Food_Groups.jpg ->
    <%= partial "images/menu.svg" %>
  </div>
</div>
