---
---
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Noto+Serif:700:latin'>

<div class="row">
  <div class="large-5 columns">
    <h1><%= data.site.name %></h1>

    <h3>Sussex University<br> <%= data.site.date %></h3>
    <br>
    <p>Short description of the conference</p>
  </div>
  <div class="large-7 columns">
    <%= image_tag "images/menu2.png", class: "piechart" %>
    <br>
    <br>
    <br>

    <sub class="right">source: <a href="https://commons.wikimedia.org/wiki/File:USDA_-_Basic_7_Food_Groups.jpg" target="_blank">1943 USDA nutrition chart showing the "Basic 7" food groups.</a></sub>
  </div>
</div>
