---
title: "Registration"
---

<div class="row">
  <div class="large-12 columns">
    <form class="panel">
      <div class="row">
        <div class="large-3 columns">
          <label for="first_name">First name</label>
          <input name="first_name" type="text" placeholder="" />
        </div>
        <div class="large-3 columns">
          <label for="surname">Surname</label>
          <input name="surname" type="text" placeholder="" />
        </div>
        <div class="large-3 columns">
          <label for="email">Email</label>
          <input name="email" type="email" placeholder="@" />
        </div>
        <div class="large-3 columns">
          <label>Affiliated University</label>
          <input type="text" placeholder="" />
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <legend>Are you presenting a paper ?</legend>
          <select name="presenting">
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
        <div class="large-6 columns">
          <br>
          <input name="dinner" type="checkbox">
          <label for="dinner">Check if partitipating to the dinner ?</label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <button type="submit" class="small radius button">Submit</button>
        </div>
      <div>
    </form>
  </div>
</div>
