---
title: "Registration"
---

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1>Opening September 2015</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <form class="panel">
      <div class="row">
        <div class="large-3 columns">
          <label for="first_name">Firsts name</label>
          <input id="first_name" name="first_name" type="text" placeholder="">
        </div>
        <div class="large-3 columns">
          <label for="surname">Surname</label>
          <input id="surname" name="surname" type="text" placeholder="">
        </div>
        <div class="large-3 columns">
          <label for="email">Email</label>
          <input id="email" name="email" type="email" placeholder="@">
        </div>
        <div class="large-3 columns">
          <label for="university">Affiliated University</label>
          <input id="university" name="university" type="text">
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <label for="dinner">
            Are you participating to dinner ?
          </label>
          <select id="dinner" name="dinner">
            <option>Yes - I am a speaker - Free</option>
            <option>Yes - I am a non-speaker - 20.- GBP</option>
            <option>No</option>
          </select>
        </div>

        <div class="large-4 columns"></div>

        <div class="large-4 columns"></div>

      </div>
      <div class="row">
        <div class="large-4 columns">
          <h4>Total: 0 GBP</h4>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <button type="submit" class="small radius button">Submit</button>
        </div>
      <div>
    </form>
  </div>
</div>
