---
title: "Call for paper"
---

<div class="row">
  <div class="large-12 columns">
    <form class="panel">
      <div class="row">
        <div class="large-4 medium-4 columns">
          <label>Presenter name</label>
          <input type="text" placeholder="" />
        </div>
        <div class="large-4 medium-4 columns">
          <label>Email address</label>
          <input type="email" placeholder="@" />
        </div>
        <div class="large-4 medium-4 columns">
          <label>Affiliated University</label>
          <input type="text" placeholder="" />
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Title
          <input type="text" placeholder="" />
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Abstract (max. 500 words)
          <textarea placehold="paper abstract here"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Prefered day
          <select>
            <option value="none">No preference</option>
            <option value="monday">Monday</option>
            <option value="tuesday">Tuesday</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="large-6 medium-6 columns">
          <label>Choose Your Favorite</label>
          <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Radio 1</label>
          <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Radio 2</label>
        </div>
        <div class="large-6 medium-6 columns">
          <label>Prefered day</label>
          <input id="checkbox1" type="checkbox"><label for="checkbox1">Monday</label>
          <input id="checkbox2" type="checkbox"><label for="checkbox2">Tuesday</label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Textarea Label</label>
          <textarea placeholder="small-12.columns"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <p>All application will be reviewed in the next 24 hours after their submission.<p>
          <a href="#" class="small radius button">Submit</a><br/>
        </div>
      <div>
    </form>
  </div>
</div>
