---
title: "Call for paper"
---

<div class="row">
  <div class="large-12 columns">
    <form class="panel">
      <h2>Deadline: 28 August</h2>

      <div class="row">
        <div class="large-3 columns">
          <label for="first_name">First name</label>
          <input name="first_name" type="text" placeholder="" />
        </div>
        <div class="large-3 columns">
          <label for="surname">Surname</label>
          <input name="surname" type="text" placeholder="" />
        </div>
        <div class="large-3 columns">
          <label for="email">Email</label>
          <input name="email" type="email" placeholder="@" />
        </div>
        <div class="large-3 columns">
          <label>Affiliated University</label>
          <input type="text" placeholder="" />
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Paper title
          <input type="text" placeholder="" />
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Abstract (max. 300 words)
          <textarea placehold="paper abstract here" rows=10></textarea>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <button type="submit" class="small radius button">Submit</button>
        </div>
      <div>
    </form>
  </div>
</div>
