---
title: "Call for paper"
---

<div class="row">
  <div class="large-12 columns">
    <form class="panel">
      <div class="row">
        <div class="large-4 medium-4 columns">
          <label>Presenter name</label>
          <input type="text" placeholder="" />
        </div>
        <div class="large-4 medium-4 columns">
          <label>Email address</label>
          <input type="email" placeholder="@" />
        </div>
        <div class="large-4 medium-4 columns">
          <label>Affiliated University</label>
          <input type="text" placeholder="" />
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Title
          <input type="text" placeholder="" />
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Abstract (max. 500 words)
          <textarea placehold="paper abstract here"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <a href="#" class="small radius button">Submit</a><br/>
        </div>
      <div>
    </form>
  </div>
</div>
